before_install:
  - mysql -e "create database IF NOT EXISTS zeeguu_test;" -uroot
  - mysql -e "grant all on zeeguu_test.* to 'zeeguu_test'@'localhost' identified by 'zeeguu_test';" -uroot
  - mkdir -p ~/.config/zeeguu/ && cp testing_default.cfg ~/.config/zeeguu/core_test.cfg
  - pip3 install jieba3k
  - pip install coveralls

language: python
python:
  - "3.4"
cache:
  pip: true
  directories:
   - $HOME/virtualenv

env:
  - ZEEGUU_CORE_CONFIG=$HOME/.config/zeeguu/core_test.cfg

install: "python3 setup.py install"

script: coverage3 run --source zeeguu -m unittest discover

after_success:
  coveralls
